/*	@import url('style.css'); */
#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.leaflet-div-icon {
	font-weight: bold;
	text-shadow: 0 0 #fff;
	background: none;
	border:none;
	line-height: 10px;
	font-size: 9px;
}
.leaflet-control-attribution.leaflet-control {
	font-size: 25px;
	font-weight: bold;
	color:#fff;
}